<!DOCTYPE html>
<html>
<head>
  <title>App402</title>
  <%= stylesheet_link_tag    "common/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "common/application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/partials/header' %>
<%= yield %>
<%= render 'layouts/partials/footer' %>

</body>
</html>
